tensorflow==2.12.0

keras==2.12.0
keras-facenet==0.3.2
keras-vggface==0.6
Keras-Applications==1.0.8

mtcnn==1.0.0

numpy==1.23.5
protobuf==4.25.8
h5py==3.15.1
gast==0.4.0
opt-einsum==3.4.0
google-pasta==0.2.0
wrapt==1.14.2
six==1.16.0
flatbuffers==25.9.23

opencv-python==4.7.0.72
pillow==10.4.0

scikit-learn==1.7.2
joblib==1.5.2
threadpoolctl==3.6.0

pandas==2.3.3
seaborn==0.13.2
matplotlib==3.10.7

streamlit==1.51.0
altair==5.5.0
pydeck==0.9.1
blinker==1.9.0
gitpython==3.1.45
tqdm==4.67.1
requests==2.32.5

jax==0.4.30
jaxlib==0.4.30

typing-extensions==4.15.0
